:root {
    --text: ;
    --buttonText: ;
}

body {
    margin: 0;
    padding: 0;
}

.container{
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    margin-top: 5%;
}

.row {
    /* max-width: 80vw; */
    text-align: left;
    margin-top: 10px;
}

#Title{
    padding: 12px 12px 12px 0px;
    font-size: 35px;
}

#bookForm{
    padding: 12px 12px 12px 0px;
}

/* @media (orientation: landscape) {
    .row{
        
    }
} */

.statusButton{
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;

    flex-shrink: 0; /* Doesn't do anything... */
}

.deleteButton{
    background-color: rgb(241, 48, 193);
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.deleteButton:hover{
    background-color: rgb(190, 39, 152);
}

#statusInput{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
}

#addBookButton{
    background-color: rgb(1, 242, 242);
    border: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 5px;

    max-width: 80px;
    margin: 8px 8px 8px 0px;
    /* padding: 0px 30px; */
}

#addBookButton:hover{
    background-color: rgb(3, 184, 184);
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 20px 20px 20px 0px;
    font-size: 18px;
}

/* .labelInputBox{
    display: flex;
    flex-direction: column;
} */

/* #titleInput{
    max-width: 20vw;
} */